<div class="container">
    <mat-card>
     <mat-card-header>
         <mat-card-title>Students</mat-card-title>
     </mat-card-header>
     <mat-divider></mat-divider>
     <mat-card-content>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let student"> {{student.id}} </td>
              </ng-container>
            
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef> Prénom </th>
              <td mat-cell *matCellDef="let student"> {{student.firstName}} </td>
            </ng-container>
          
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef> Nom </th>
              <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
            </ng-container>
          
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef> Code </th>
              <td mat-cell *matCellDef="let student"> {{student.code}} </td>
            </ng-container>
          
            <ng-container matColumnDef="programId">
              <th mat-header-cell *matHeaderCellDef> ID du Programme </th>
              <td mat-cell *matCellDef="let student"> {{student.programId}} </td>
            </ng-container>

            <ng-container matColumnDef="payments">
                <th mat-header-cell *matHeaderCellDef>Payments </th>
                <td mat-cell *matCellDef="let student"> 
                    <button (click)="studentPayment(student.code)" mat-raised-button color="primary">Payments</button>
                
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
        <mat-paginator [pageSizeOptions]="[5,10,20,30,100]" >

        </mat-paginator>
     </mat-card-content>
    </mat-card>
 </div>
 
